.spreadArrow {
    transform: rotate(0deg);
}
.nested_wrapped{
    display: flex;
    align-items: stretch;
    &:not(.parent){
        padding-left: 27px;
    }
    & .spread_arrow{
        width: 20px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        & .arrow{
            height: 20px;
            transition: $transition;
            opacity: 0.6;
            transform: rotate(-90deg);
            &:hover{
                opacity: 0.9;
            }
            &.spreadArrow{
                transform: rotate(0deg);
            }
        }
    }
}
.basic-multi-select#cats{
    & .select__value-container{
        & .select__multi-value:not(:first-child){
            margin-left: 30px;
            position: relative;
            &:before{
                content: "OR";
                position: absolute;
                left: -27px;
                color: $black;
            }
        }
    }
}